.barsContainer {
  display: block;
  margin-left: 47%;
}

.button:disabled {
  background-color: gray;
  cursor: default;
}

.button:disabled:active {
  transform: none;
}

.check {
  display: inline-block;
  margin-bottom: -3px;
  position: sticky;
  left: 74%;
}

.created {
  font-size: 11px;
  display: inline;
  margin-left: 5px;
  vertical-align: bottom;
}

.comment {
  border: 3px solid #252525;
  border-right-width: 10px;
  min-height: 5em;
  padding: 5px;
  margin: 8px;
}

.head {
  position: sticky;
  left: 100%;
  bottom: 500%;
}

.itemContainer {
  display: inline;
}

@media screen and (max-width: 45em) {
  .head {
    position: sticky;
    bottom: 0;
    left: 0;
  }
  .headContainer {
    display: inline;
  }
}

.noIssues {
  margin-left: 5px;
}

.spacer {
  border-top: 3px solid #252525;
  padding: 5px;
  margin: 8px;
}

.titleContainer {
  display: block;
  margin-left: 5px;
  width: auto;
}
