.apiSelectLabel {
  margin-left: 5px;
}

.apiSelect {
  vertical-align: middle;
  margin-left: 5px;
}

.buttonDiv {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
}

.checkboxInput1 {
  display: inline-block;
}

.checkboxInput2 {
  display: inline-block;
  margin-bottom: 5px;
}

.errorBase {
  color: red;
  margin-left: 10px;
}

.errBorder[type="text"] {
  border-color: red;
}

.errorContainer {
  display: inline;
}

.eye {
  position: absolute;
  left: 65.8%;
  top: 49%;
  padding: 0px 0px 4px 10px;
  background-color: white;
  z-index: 9999;
}

.formComponent {
  display: inline;
}

.formContainer {
  display: inline-block;
  width: 75%;
}

.formHeader {
  margin: 5px;
}

.formInput {
  vertical-align: middle;
  margin-left: 5px;
}

.formInput[type="text"] {
  margin-bottom: 10px;
  width: 43%;
}

.formInput[type="text"]:focus {
  border: 3px solid #555;
}

.formInput[type="date"] {
  width: 54%;
  margin-bottom: 10px;
}

.formInput[type="time"] {
  width: 54%;
  margin-bottom: 5px;
}

.formLabel {
  margin-right: 1px;
  margin-left: 5px;
}
/* 
.icon {
  cursor: pointer;
  display: inline;
  vertical-align: middle;
  margin-left: 5px;
} */

.refresh {
  cursor: pointer;
}

.label {
  margin-left: 5px;
}

.normErr {
  display: inline;
}

.picker {
  display: block;
  padding: 10px 0px 10px 10px;
}

.pickerContainer {
  border: 1px solid #252525;
  border-radius: 10px;
  left: 54%;
  bottom: 60%;
  position: fixed;
  display: inline;
}

.point {
  cursor: pointer;
}

.reminderContainer {
  display: inline-block;
  border: 1px solid #252525;
  padding: 0px 5px 5px 5px;
  margin-top: 5px;
  width: 65%;
}

.reminderInput {
  padding: 1px;
  width: 75%;
}

select.formInput {
  width: 54%;
  margin-bottom: 10px;
}

.textAreaErrBorder {
  border: 2px solid red;
}

.textAreaErr {
  display: inline-table;
  margin-bottom: 0px;
  margin-top: 0px;
  position: absolute;
  word-break: break-all;
}

.textInputs {
  width: 150%;
}

.x {
  cursor: pointer;
  display: inline;
  margin-left: 5px;
  vertical-align: middle;
}
